@import '../../../styles/01-settings/settings';
@import '../../../styles/02-tools/tools';
@import '../../../styles/03-generic/generic';
.register-content {
  box-shadow: $box-shadow-light;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 3px solid $violet-primary;

  &__header {
    background: $violet-primary;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 150px;
        height: 150px;
    }
  }

  &__form {
    background: $gray-light;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $gray-dark;

    button {
        margin-top: 20px;
        width: 50%;
    }

    mat-form-field {
        width: 100%;
    }
  }

  @include medium-up {
    margin-top: 200px;
    box-shadow: $box-shadow-light;
    border-radius: 4px;
  }
}
