<div class="l-container">
  <div class="l-row u-mt-40">
    <div class="desktop l-col l-col--lg25 ">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Użytkownicy">
          <app-chat-users></app-chat-users>
        </mat-tab>
        <mat-tab label="Pokoje">
          <app-chat-rooms></app-chat-rooms>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="l-col l-col--lg75">
      <app-chat-feed> </app-chat-feed>
      <app-chat-form></app-chat-form>
    </div>
  </div>
</div>
