//COLORS
.u-text-color--white {
    color: $white;
}
.u-text-color--red {
  color: $red-primary;
}
.u-text-color--yellow {
  color: $yellow-primary;
}

.u-text-color--violet {
  color: $violet-primary;
}

.u-text-color--gray {
  color: $gray-dark;
}

.u-bg-primary-yellow {
  background: $yellow-primary;
}
