.u-display-flex {
  display: flex;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-end {
  justify-content: flex-end;
}
.u-justify-space {
  justify-content: space-between;
}
.u-align-center {
  align-items: center;
}
.u-align-end {
  align-items: flex-end;
}
.u-flex-direction-col {
  flex-direction: column;
}
.u-flex-direction-row {
  flex-direction: row;
}
