.u-mt-5 {
  margin-top: $grid-base * 0.5;
}
.u-mt-10 {
  margin-top: $grid-base;
}
.u-mt-15 {
  margin-top: $grid-base * 1.5;
}
.u-mt-20 {
  margin-top: $grid-base * 2;
}
.u-mt-30 {
  margin-top: $grid-base * 3;
}
.u-mt-40 {
  margin-top: $grid-base * 4;
}
.u-mt-50 {
  margin-top: $grid-base * 5;
}
.u-mt-100 {
  margin-top: $grid-base * 10;
}

.u-mb-5 {
  margin-bottom: $grid-base * 0.5;
}
.u-mb-10 {
  margin-bottom: $grid-base;
}
.u-mb-15 {
  margin-bottom: $grid-base * 1.5;
}
.u-mb-20 {
  margin-bottom: $grid-base * 2;
}
.u-mb-30 {
  margin-bottom: $grid-base * 3;
}
.u-mb-40 {
  margin-bottom: $grid-base * 4;
}
.u-mb-50 {
  margin-bottom: $grid-base * 5;
}
.u-mb-100 {
  margin-bottom: $grid-base * 10;
}

.u-mr-5 {
  margin-right: $grid-base * 0.5;
}
.u-mr-10 {
  margin-right: $grid-base;
}
.u-mr-15 {
  margin-right: $grid-base * 1.5;
}
.u-mr-20 {
  margin-right: $grid-base * 2;
}
.u-mr-30 {
  margin-right: $grid-base * 3;
}
.u-mr-40 {
  margin-right: $grid-base * 4;
}
.u-mr-50 {
  margin-right: $grid-base * 5;
}

.u-ml-5 {
  margin-left: $grid-base * 0.5;
}
.u-ml-10 {
  margin-left: $grid-base;
}
.u-ml-15 {
  margin-left: $grid-base * 1.5;
}
.u-ml-20 {
  margin-left: $grid-base * 2;
}
.u-ml-30 {
  margin-left: $grid-base * 3;
}
.u-ml-40 {
  margin-left: $grid-base * 4;
}
.u-ml-50 {
  margin-left: $grid-base * 5;
}

.u-m-auto {
  margin: 0 auto;
}

.u-border-radius-6 {
  border-radius: 6px;
}


.u-p-0 {
  padding: 0!important;
}

.u-w-100 {
  width: 100%;
}